*{
    margin: 0;
    padding:0;
}
#navbar{
    height: 50px;
    background-color: #8A0302;
    display:flex;
    align-items: center;
}
#logo{
    color:#FCFCFC;
    align-items: center;
    display: flex;
    margin-left: 20px;
    font-size: 22px;
    word-spacing: 2px;
}
a{
    color: #FCFCFC;
    text-decoration: none;
    margin-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: bold;  
}
a:hover{
    background-color:#070603;
    border-radius: 5px;
}
a:active{
    background-color:#B79455;
    border-radius: 30px;
}
#home{
    margin-left: 430px;
}
h2{
    margin-top: 60px;
    margin-left: 70px;
    font-size: 40px;
}
p{
    margin-left: 70px;
    margin-top: 20px;
    margin-right: 650px;
}
img{
    position: absolute;
    right:100px;
    top:100px;
    height:600px;
    width:520px;

}
h3{
    margin-left:70px;
}
ul{
    margin-left: 100px;
}
.text{
    line-height: 160%;
}
#benefit{
    font-size: 25px;
}
main{
    height:650px;
}
footer{
    background-color: #070603;
    color: #FCFCFC;
    text-align: center;
    height: 70px;
}
pre{
    position: relative;
    top:10px;
}